.avatar-uploader  {
  width: 128px;
}

.avatar-uploader > .ant-upload {
  width: 128px;
  height: 128px;
}

.img-box {
  display: flex;
}
.input-box {
  display: flex;
  align-items: center;
}

.mg-box-left {
  width: 520px;
}

.img-box-text {
  flex: 1;
  color: #999;
  display: inline-block;
  height: 128px;
  line-height: 128px;
  margin-left: 10px;
}

.input-box-text {
  flex: 1;
  color: #999;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  margin-left: 10px;
}

.add-goods-box {
  
  .col-width {
    width: 85%;
    position: relative;
    height: 40px;
    line-height: 40px;
    p {
      height: 20px;
      line-height: 20px;
      color: #333;
      font-weight: 500;
    }
    .col-title {
      display: inline-block;
      width: 80px;
      flex-shrink: 0;
      color: #333;
      font-weight: 500;
      font-size: 14px;
    }
  }
  .col-width-other {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    .col-title {
      display: inline-block;
      width: 80px;
      flex-shrink: 0;
      color: #333;
      font-weight: 500;
      font-size: 14px;
    }
  }
  .col-width-card {
    width: 85%;
    display: flex;
    align-items: center;
    .col-card-input {
      flex: 1;
    }
  }
  p {
    margin-bottom: 4px;
  }
}

.add-goods-box, .goods-info {
  .line {
    width: 90%;
    padding-left: 16px;
    display: flex;
  }
  .left, .right {
    width: 50%;
    flex-shrink: 0;
  }
  .params-box {
    padding: 16px;
    padding-bottom: 0;
    .params-item {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      &-bd {
        flex-shrink: 0;
        display: inline-block;
        height: 40px;
        width: 1px;
        background-color: #ccc;
        margin: 0 10px;
      }
      &-title {
        flex-shrink: 0;
      }
      &-repertory {
        margin-left: 20px;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        &-num {
          display: inline-block;
          width: 60px;
          height: 32px;
          line-height: 24px;
          background-color: #fff;
          margin: 0 5px;
          border-radius: 5px;
          padding: 4px 10px;
        }
      }
      &-input {
        width: 100px;
        margin-right: 10px;
        margin-bottom: 4px;
      }
    }
  }

  .label-class {
    display: inline-block;
    height: 32px;
    line-height: 24px;
    min-width: 110px;
    background-color: #fff;
    padding: 4px 11px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    margin-right: 10px;
    color: #999;
  }
  .group-label-class {
    width: 80px;
    border: 1px solid #acd9d6;
    color: #acd9d6;
  }
  .label-box {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 12px;
    .label-delete {
      position: absolute;
      right: -30px;
      width: 28px;
      height: 28px;
      line-height: 30px;
      background-color: #fff;
      color: #666;
      font-size: 20px;
    }
  }
  .label-box:hover, .label-box-minor:hover{
    .label-delete {
      display: inline-block;
    }
  }
  .label-box-minor {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 4px;
    .label-delete {
      position: absolute;
      right: 11px;
      width: 28px;
      height: 28px;
      line-height: 30px;
      background-color: #fff;
      color: #1890ff;
      display: none;
    }
  }
  .ant-form-item {
    margin-bottom: 10px;
  }
}
