
.ba-box {
  .anticon svg:hover {
    color: #1890ff;
  }
  
  .banner-item-title {
    color: #333;
    font-weight: 700;
  }
  .banner-item-cont {
    color: #666;
    font-weight: 500;
  } 
  .ant-col {
    min-height: 40px;
    line-height: 40px;
  }
  .ant-col-6 {
    padding-right: 10px;
  }
}

.goods-modal-game-list {
  p {
    margin-bottom: 0;
  }
  .ant-card-body {
    padding: 10px;
  }
  .ant-table-thead > tr > th, .ant-table-tbody > tr > td {
    padding: 10px;
  }

  .ant-modal-header {
    padding: 10px 24px;
  }
  .ant-modal-body {
    padding: 0 24px;
  }

  .banner-img-list {
    .ba-box .ant-col {
      border: 1px solid #ccc;
    }
  }
}

